@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #f6fafb;  
}
.App{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.App .data-content{
  width: 60%;
  height: 100vh;
}
.App .user-escape{
  background-color: #490009;
  width: 40%;
  height: 100vh;
}
.App header{
  padding: 30px;
}